* {
  box-sizing: border-box;
}

body {
  max-width: 50em;
  margin: 5em auto;
}

div.content {
  margin: 1em 0
}

div.meta:after {
  content: ".";
  display: block;
  clear: right;
  visibility: hidden;
  height: 0;
  line-height: 0;
}
  div.meta div.tstamp {
    font-size: .5em;
    float: right;
  }

ol.versions {
  padding: 0;
  margin: 0 0 0 .5em;
  display: inline-block;
}
  ol.versions li {
    display: inline-block;
    margin-right: .5em;
  }

form.edit-page {}

  form.edit-page textarea {
    width: 100%;
    min-height: 20em;
  }
  form.edit-page button {
    padding: .5em 1em;
    float: right;
    maring: 0;
  }