* {
  box-sizing: border-box;
}

html {
  background: #444 url('/bg.jpg');
}

body {
  position: relative;
  max-width: 50em;
  margin: 0 auto 5pt auto;
  border: solid #ddd 1px;
  border-top: none;
  border-radius: 0 0 5pt 5pt;
  background: #fff;
  font-size: 12pt;
  font-family: "Helvetica Neue", Arial, "Dejavu Sans", "Bitstream Vera Sans", Ubuntu, Helvetica, sans-serif;
  line-height: 1.5;
}
textarea {
  background: #f8f8f8;
  font-size: 12pt;
  font-family: "Helvetica Neue", Arial, "Dejavu Sans", "Bitstream Vera Sans", Ubuntu, Helvetica, sans-serif;
  line-height: 1.5;
}

h1 {
  margin: 0;
  padding: 10pt;
  background: #eee;
  border-bottom: solid #ddd 1pt;
  font-family: "Times New Roman", sans-serif;
  font-size: 32pt;
  font-weight: bold;
}

a:link {
  color: #222;
  text-decoration: underline;
}
a:visited {
  color: #555;
}

div.content, div.edit {
  margin: 10pt;
}

div.meta {
  font-size: x-small;
  float: right;
}

footer {
  padding: 5pt;
  min-height: 20pt;
  font-size: small;
  background: #eee;
  border-top: solid #ddd 1px;
  border-radius: 0 0 5pt 5pt;
}
ol.versions {
  padding: 0;
  margin: 0 0 0 .5em;
  display: inline-block;
}
  ol.versions li {
    display: inline-block;
    margin-right: .5em;
  }

form.edit-page {
  margin-top: 1em;
}
  form.edit-page:after {
    content: ".";
    display: block;
    clear: right;
    visibility: hidden;
    height: 0;
    line-height: 0;
  }
  form.edit-page textarea {
    width: 100%;
    min-height: 20em;
  }
  form.edit-page button {
    padding: .5em 1em;
    float: right;
    margin: 1em 0 0 0;
  }
